<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="HelixToolkit" version="2015.1.715" targetFramework="net452" />
  <package id="HelixToolkit.Wpf" version="2015.1.715" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.5" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.5" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.0" targetFramework="net452" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="3.1.16356.12170" targetFramework="net452" />
</packages>